body {
  background-color: #212529;
  color: #adb5bd;

}

.layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.sidebar {
  position: fixed;
  grid-area: sidebar;
  overflow-y: auto;
  height: calc(100vh - 2rem);
}

.main {
  grid-area: main;
}

.form-select {
  color: #adb5bd;
  background-color: #212529;
  border-color: #495057;
}

input[type='checkbox'] {

  background-color: #212529;
  border-color: #495057;
}